
/* Header.css */
.heading {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

  

